@import 'tailwindcss';

/* 
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
	scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge, and older versions of Firefox */
*::-ms-scrollbar {
	display: none;
}

html,
body {
	overflow-x: hidden;
	background-color: #0a0b1b;
	font-family: 'Roboto', sans-serif;
}

@theme {
	--color-body-colour: #0a0b1b;
	--color-main-btn: #8e94de;
	--color-secondary: #1d247e;
	--color-body-text: #ececf6;
	--color-accent: #3945dd;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf');
}
